:root {
    --clr-background: rgba(66, 148, 189, 1);

    --clr-primary: rgba(66, 148, 189, 1);
    --clr-primary-dark: rgba(49, 110, 140, .9);
    --clr-secondary: #29AAF2;

    --clr-accent: rgba(255, 255, 255, .5);
    --clr-accent-hover: rgba(0, 0, 0, .3);

}

/* 
*  TABLE OF CONTENTS
*  
*  0.0 - Variables
*  1.0 - Reset
*  2.0 - Globals
*  3.0 - Typography
*  4.0 - Layouts
*    4.1 - Navigation
*    4.2 - Header
*    4.3 - Section
*    4.4 - 
*  5.0 - Components
*    5.1 - Buttons
*    5.2 - Forms
*    5.3 - 
*  6.0 - Utillity
*
* 10.X - needs to be sorted
*/


/*  ================================
        1.0 Reset
    ================================ */

/* not really needed... reboot.css does this already*/


/*  ================================
        2.0 Globals
    ================================ */

::selection {
    color: var(--dark);
    background: var(--clr-primary);
}

hr.divider {
    border-color: var(--clr-primary);
}

hr.light {
    border-color: var(--white);   
}

hr.dark {
    border-color: var(--dark);   
}



/*  ================================
        3.0 Typography
    ================================ */

.text-primary {
    color: var(--clr-primary) !important;
}



/*  ================================
        4.0 Layouts
    ================================ */

.bg-primary {
    background-color: var(--clr-background) !important;        
}

.svg-border-angled svg {
    color: var(--clr-primary);
    position: absolute;
    top: -3.49rem; 
    left: 0;
    height: 3.5rem;
    width: 100%;
}


/*  ---------------------
        4.1 Navigation
    --------------------- */
#mainNav .navbar-nav .nav-item .nav-link.active {
    color: var(--clr-primary) !important;
}

@media (min-width: 992px) { /*ultra fusch... aber ist erstmal ok*/
    #mainNav.navbar-scrolled .navbar-brand img {
        content:url("../assets/img/logo/blubber_lounge_dark.png");
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
        color: var(--clr-primary);
    }
}

@media (max-width: 991px) { /*ultra fusch... aber ist erstmal ok*/
    #mainNav .navbar-brand img {
        content: url('../assets/img/logo/blubber_lounge_dark.png');
    }
}

/*  ---------------------
        4.1 Header
    --------------------- */
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }

  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}


/*  ---------------------
        4.3 Sections
    --------------------- */

        /* About Section */
section#about {
    /*--padding-section-about: 15%; may be added at a later point in time again*/

    position: relative;
    /* 
    clip-path: polygon(0 var(--padding-section-about), 100% 0, 100% 100%, 0% 100%);
    top: calc(var(--padding-section-about) * -1);
    padding-top: 10rem;  .page-section padding: 8rem 0; overwrite
    padding-bottom: 8rem; .page-section  padding: 8rem 0; overwrite
    background: linear-gradient(146deg, var(--clr-primary) 0%, rgba(113,187,224,1) 100%);
    */
}

        /* About Section */
section#services {
    /* may be added at a later point in time again 
    padding-top: 4rem;  .page-section padding: 8rem 0; overwrite
    padding-bottom: 8rem; .page-section padding: 8rem 0; overwrite
    */
}

        /* Gallery / Portfolio  Section */
.masonry {
    columns: 2;
    column-gap: 10px;
}

.masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

.masonry-item, .masonry-content {
    border-radius: 4px;
    overflow: hidden;
}

.masonry-item {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
}

.masonry-item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry-footer {
    font-size: .75em;
    opacity: .25;
    text-align: center;
    padding-top: 3em; 
    padding-bottom: 3em;
    margin-bottom: -1.5em;
    transition: opacity 1s ease-in-out;
}

@media (max-width: 1023px) {
    section#gallery .container-fluid {
        padding: 0 1rem !important;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        columns: 3;
    }
}

@media only screen and (min-width: 1024px) {
    .masonry {
        columns: 4;
    }
}

        /* Contact Section */
footer#contact {
    margin-top
    background-color: var(--dark);
    color: var(--white);
}


/*  ---------------------
        4.4 Footer
    --------------------- */ 
.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}




/*  ================================
        5.0 Components
    ================================ */

    /*  ---------------------
        5.1 Buttons
    --------------------- */
.c-btn-primary {
    color: var(--white);
    background-color: var(--clr-primary); 
}

.c-btn-primary:hover,
.c-btn-primary:focus,
.c-btn-primary:active {
    color: var(--white);
    background-color: var(--clr-primary-dark);
    border-color: var(--clr-primary-dark);
}

.c-btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .2);
}



/*  ================================
        6.0 Utillity
    ================================ */

.tiny {
    font-size: 30%;
    font-weight: 400;
}



/*  ================================
        10.0 needs to be sorted
    ================================ */

    /*  ---------------------
        10.1 media queries
    --------------------- */
